.photos{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
  justify-content: stretch;
  overflow-anchor: none;
}

@media (min-width: 800px){
  .photos{
    gap: 20px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
