.upload-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}
.upload-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: .6;
  background-color: #fff;
}
.upload-form{
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 6px;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 40px rgba(0,0,0,0.2);
}

.upload-form .drop-zone{
  width: 100%;
  height: 100px;
  border: 1px dashed rgb(0,0,0,.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-form .drop-zone.active{
  border: 1px dashed #000;
}

.upload-form .file-list{
  width: 100%;
}
.upload-form .file-list.grid{
  margin-top: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.upload-form .file-list span{
  width: 100%;
  height: 100px;
  display: block;
  cursor: pointer;
}
.upload-form .file-list span img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-form .empty-list{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-form h1{
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.3em;
}

.upload-form .footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.upload-form .close-button{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}

.upload-form .close-button::before{
  content: '';
  width: 16px;
  height: 2px;
  position: absolute;
  background-color: #000;
  top: 9px;
  left: 2px;
}

.upload-form .close-button::after{
  content: '';
  height: 16px;
  width: 2px;
  position: absolute;
  top: 2px;
  left: 9px;
  background-color: #000;
}
