.dropdown-wrapper{
  position: relative;
  display: inline-block;
}
.dropdown{
  display: flex;
  align-items: center;
  border: none;
  padding: 16px 30px 17px 10px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
}
.dropdown:hover, .dropdown.active{
  background-color: rgb(239, 239, 239);
}
.dropdown::before{
  content: '';
  display: block;
  position: absolute;
  top: 14px;
  right: 10px;
  width: 10px;
  height: 10px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: rotate(-45deg);
}
.dropdown.active::before{
  top: 20px;
  transform: rotate(135deg);
}
.options{
  position: absolute;
  top: calc(100% - 12px);
  width: 100%;
  right: 0;
  background-color: #fff;
  z-index: 100;
  border: 1px solid rgb(239, 239, 239);
}
.options button{
  border: none;
  border-bottom: 1px solid rgb(239, 239, 239);
  background-color: transparent;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
}

.options button:last-child{
  border-bottom: none;
}
