.button{
  display: flex;
  align-items: center;
  border: none;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
}
.button:hover{
  background-color: rgb(239, 239, 239);
}
.button svg{
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
