.photo{
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
}
.photo .image-container{
  width: 100%;
  height: 100px;
  background-color: #ddd;
  border-radius: 6px;
  display: flex;
  place-items: center center;
}
.photo .image-container img{
  width: 100%;
  height: 100%;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  transition: all 250ms ease-out;
}

.photo.landscape .image-container img{
  visibility: visible;
  opacity: 1;
  object-fit: cover;
}

.photo.portrait .image-container img{
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
}

.photo h5{
  width: 100%;
  margin: 10px 0 5px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

.photo span{
  display: block;
  text-align: center;
  font-weight: 100;
  font-size: 12px;
}
.photo .check-mark{
  display: none;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #fff;
}
.photo .check-mark::before{
  content: '';
  width: 3px;
  height: 10px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(45deg);
  display: block;
  position: absolute;
  left: 6px;
  top: 1px;
}
.photos.show-selected .photo{
  opacity: .6;
}

.photos.show-selected .photo.selected{
  opacity: 1;
}

.photos.show-selected .photo.selected .check-mark{
  display: block;
}

@media (min-width: 800px){
  .photo .image-container{ height: 160px; }
  .photo.portrait .image-container img{
    width: auto;
    height: 100%;
    margin: 0 auto;
    object-fit: unset;
  }
}
