.controls{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.controls > .upload-button::after{
  content: '';
  display: block;
  position: absolute;
  background-color: #000;
  width: 2px;
  height: 20px;
  right: -10px;
}
